body {
    font-family: Arial, Verdana, Sans, sans-serif;
}

#form-laudo-sus h4 {
    text-align: center;
}

#form-laudo-sus legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    border: 0;
    border-bottom: none;
    background-color: #333;
    text-align: center;
}

#form-laudo-sus label {
    font-size: 10px;
    font-weight: bold;
}

#form-laudo-sus .control-group {
    margin-bottom: 0px;
}

#form-laudo-sus fieldset {
    margin-bottom: 8px;
}

.form-inline label {
    font-size: 9px;
    line-height: 11px;
    margin-bottom: -2px;
}

.form-inline .radio {
    vertical-align: text-bottom;
}

.form-inline .radio input[type="radio"] {
    float: none;
}

.ui-widget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .8em;
}

span.required {
    color: red;
}

label.required:after {
    content: "*";
    color: red;
    float: right;
    margin-right: -7px;
    margin-top: -13px;
}

input.error {
    border-color: #B32A2A;
}

label.error {
    color: #B32A2A;
    display: inline-block;
    margin-left: 8px;
}

span.not-informed {
    color: #B32A2A;
}

span.informed {
    color: #2D3C5C;
    display: inline-block;
}

.controls {
    position: relative;
}

.controls span.error {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: .8em;
    color: #fff;
    background-color: #B32A2A;
    padding: 2px 5px;
    border-radius: 3px;
    opacity: .9;
}

.logo {
    max-width: 160px;
    margin: 0 auto;
    padding: 15px;
}

.feedback-bar {
    background-color: #B32A2A;
    color: #FFF;
    border-bottom: 1px solid #8B2A2A;
    -moz-box-shadow: 0px 1px 11px -2px #000;
    -webkit-box-shadow: 0px 1px 11px -2px #000;
    box-shadow: 0px 1px 11px -2px #000;
    opacity: .95;
}

.feedback-bar-content {
    padding: 12px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.feedback-bar-content a.close {
    margin-right: 10px;
}

select.ui-datepicker-month,
select.ui-datepicker-year {
    height: 24px;
    line-height: 24px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

select.ui-datepicker-year {}

.ui-menu .ui-menu-item a {
    padding: 4px .4em;
}

/*.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #E3A1A1;
  background: #B32A2A url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #fff;
}*/